<header class="header container">
    <% if (user._id && user.full_name.length > 0) { %>
        <div class="logo">
            <a href="/programmingblog">
                <h1 class="logo_h1">Decode Blog</h1>
            </a>
        </div>
        <div class="search_place">
            <input type="text" placeholder="Поиск по блогам">
            <div class="search_right_side">
                <button class="search_button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p>Найти</p>
                </button>
            </div>
        </div>
        <div class="prof_info">
            <div class="log_reg">
                <a href="/myblogs/<%=user._id %>">
                    <div class="btn">
                        <button>Профиль</button>
                    </div>
                </a>
                <a href="/api/signout">
                    <div class="btn">
                        <button>Выйти</button>
                    </div>
                </a>
            </div>
        </div>
    <% } else { %>
        <div class="logo">
            <a href="/programmingblog">
                <h1 class="logo_h1">Decode Blog</h1>
            </a>
        </div>
        <div class="search_place">
            <input type="text" placeholder="Поиск по блогам">
            <div class="search_right_side">
                <button class="search_button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p>Найти</p>
                </button>
            </div>
        </div>
        <div class="log_reg">
            <a href="/register">
                <div class="btn">
                    <button>Регистрация</button>
                </div>
            </a>
            <a href="/login">
                <div class="btn">
                    <button>Вход</button>
                </div>
            </a>
        </div>
    <% } %>
    <!-- Остальное содержимое header.ejs -->
</header>

