<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title>Add new blog</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="add_section container">
        <div class="add_window">
            <h2>Новый блог</h2>
            <div class="log_inp">
                <input type="text" placeholder="Введите заголовок блога">
                <div class="category-dropdown">
                    <input type="text" placeholder="Выберите категорию" id="category-input">
                    <i class="fa-solid fa-chevron-down" id="category-dropdown-icon"></i>
                    <ul class="category-list">
                        <li>Прогнозы в IT</li>
                        <li>Веб-разработка</li>
                        <li>Мобильная разработка</li>
                        <li>Фриланс</li>
                        <li>Алгоритмы</li>
                        <li>Тестирование IT систем</li>
                        <li>Разработка игр</li>
                        <li>Дизайн и юзабилити</li>
                        <li>Искуственный интеллект</li>
                        <li>Машинное обучение</li>
                    </ul>
                </div>
                <div class="choose_btn">
                    <button class="choose_button">
                        <p>Выберите картинку</p>
                    </button>
                </div>
                <input type="text" class="description-input" placeholder="Введите описание блога">
            </div>
            <div class="create_btn">
                <button class="log_button">
                    <p>Создать</p>
                </button>
            </div>
        </div>
    </section>
    <script src="/js/category.js"></script>
</body>
</html>