<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title>Guest Serf</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="prg_blog container">
        <div class="left_side_prg">
            <div class="blog_tittle">
                <h2>Блоги по программированию</h2>
                <h4>
                    Популярные и лучшие публикации по программированию для начинающих
                    <br>
                    и профессиональных программистов и IT-специалистов.
                </h4>
            </div>
            <div class="blog_info">
                <img src="/img/image1.png" alt="">
                <h3>Обзор Report Manager от Webix</h3>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим ег</p>
            </div>
            <div class="blog_info">
                <h3>Что такое комплексные виджеты Webix?</h3>
                <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                <p> Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время программистам. Это визуальное воплощение концепции low-code платформы, которой является Webix. Комплексные виджеты Webix сразу же готовы к работе, потому что они содержат функциональный фронт-энд слой и, при необходимости, снабжены различными опциями для бэк-энда.</p>
                <p>Гибкая архитектура Webix позволяет легко настраивать эти приложения, расширять их функциональность и интегрировать в существующие решения.</p>
            </div>
            <div class="blog_foot">
                <h3>2 коментария</h3>
                <div class="blog_comments">
                    <div class="profile_info_com">
                        <div>
                            <img src="/img/avatar1.jpg" alt="">
                        </div>
                        <h3>Елнур Сеитжанов</h3>
                    </div>
                    <p>
                        В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                    </p>
                </div>
                <div class="com_line"></div>
                <div class="blog_comments">
                    <div class="profile_info_com">
                        <div>
                            <img src="/img/avatar1.jpg" alt="">
                        </div>
                        <h3>Елнур Сеитжанов</h3>
                    </div>
                    <p>
                        В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                    </p>
                </div>
                <div class="regorlog_message">
                    <p>Чтобы оставить комментарий, <a href="/register">зарегистрируйтесь</a> или <a href="/login">войдите</a> в аккаунт</p>
                </div>
            </div>
        </div>
        <div class="right_side_prg"> 
            <h2>Категории</h2>
            <div class="right_side_links">
                <ul>
                    <li><a href="#">Прогнозы в IT</a></li>
                    <li><a href="#">Веб-разработка</a></li>
                    <li><a href="#">Мобильная разработка</a></li>
                    <li><a href="#">Фриланс</a></li>
                    <li><a href="#">Алгоритмы</a></li>
                    <li><a href="#">Тестирование IT систем</a></li>
                    <li><a href="#">Разработка игр</a></li>
                    <li><a href="#">Дизайн и юзабилити</a></li>
                    <li><a href="#">Искуственный интеллект</a></li>
                    <li><a href="#">Машинное обучение</a></li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html> -->