<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title>Registration</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="log_section">
        <div class="log_window">
            <h2>Регистрация</h2>
            <div class="log_inp">
                <input type="text" placeholder="Введите e-mail">
                <input type="text" placeholder="Введите полное имя">
                <input type="text" placeholder="Введите e-mail">
                <input type="text" placeholder="Подтвердите пароль">
            </div>
            <div class="inlog_btn">
                <button class="log_button">
                    <p>Зарегестрироваться</p>
                </button>
            </div>
        </div>
    </section>
</body>
</html>